.main_header {
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  h2 {
    text-align: center;
    margin-left: 160px;
    font-size: 1.32rem;
    font-weight: normal;
  }
  margin-bottom: 40px;
}

.content {
  h2 {
    margin-left: 2rem;
    margin-bottom: 1.2rem;
  }

  p {
    margin-left: 1rem;
    margin-bottom: 1.2rem;
  }
  
  ol {
    margin: 2rem;
    margin-left: 3rem;
  }

  a {
    margin-left: 2rem;
  }
  
  padding: 70px;
  padding-bottom: 250px;
}
