.profile_page {
  label {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9px;
    margin-bottom: 33px;
    color: black;
    span {
      z-index: 999;
      color: #333;
    }
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 25px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  padding-bottom: 250px;
  
  button {
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid #545454;
  }

  ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    
    li {
      display: flex;
      align-items: center;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin: 10px;
      background-color: #535353; 
      border-radius: 25px;
      button {
        background-color: #a34545;
        color: #ccc;
        display: flex;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        justify-content: center;
        padding: 10px;
        margin-top: 5px;
      }
    }
    button {
      border-radius: 15px;
      border: solid 1px #545454;
      margin-top: 10px;
    }
  }
  
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    input {
      border-radius: 15px;
      padding: 5px;
      border: solid 1px #545454;
      margin-inline: 3px;
    }

    button {
      margin-top: 15px;
    }
  }
}


