.profile_page {
  label {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 9px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 25px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 10px;
  
  button {
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    box-shadow: none;
    border: 1px solid #545454;
  }

  ul {
    margin-top: 40px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
      padding: 10px;
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 10px;
      background-color: #535353; 
      border-radius: 25px;
    }
    button {
      padding: 10px;
      border-radius: 15px;
      border: solid 1px #545454;
      margin-top: 10px;
    }
  }
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    input {
      border-radius: 15px;
      padding: 5px;
      border: solid 1px #545454;
      margin-inline: 3px;
    }

    button {
      margin-top: 15px;
    }
  }
}
